<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      <h2>Flags Picker</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <cadmus-ui-flags-picker
      [flags]="flags$ | async"
      [numbering]="true"
      [toolbar]="true"
      [allowUserFlags]="true"
      (flagsChange)="onFlagsChange($event)"
    >
    </cadmus-ui-flags-picker>

    <hr />
    <div *ngIf="result">
      <h3>result</h3>
      <pre>{{ result | json }}</pre>
    </div>
    <div>
      <h3>state</h3>
      <ol *ngIf="flags$ | async as flags">
        <li *ngFor="let f of flags">
          {{ f.checked ? "☑" : "☐" }} {{ f.id }}={{ f.label }}
          {{ f.user ? " USR" : "" }}
        </li>
      </ol>
    </div>

    <form [formGroup]="form">
      <fieldset>
        <legend>user</legend>
        <div>
          <mat-form-field class="long-text">
            <mat-label>flags</mat-label>
            <textarea matInput [formControl]="usrFlags"></textarea>
          </mat-form-field>
        </div>
        <div>
          <button
            color="primary"
            type="button"
            mat-flat-button
            (click)="setFlags()"
          >
            set flags
          </button>
          <mat-checkbox [formControl]="applyChecks">apply checks</mat-checkbox>
        </div>
        <br />
        <div>
          <mat-form-field>
            <mat-label>IDs</mat-label>
            <input matInput [formControl]="usrIds" />
          </mat-form-field>
        </div>
        <div>
          <button
            color="primary"
            type="button"
            mat-flat-button
            (click)="setChecks()"
          >
            set IDs
          </button>
          <mat-checkbox [formControl]="supplyFlags">supply flags</mat-checkbox>
        </div>
      </fieldset>
    </form>
  </mat-card-content>
</mat-card>
