<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      <h2>Flags Picker</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <cadmus-ui-flags-picker
      [selectedIds]="ids"
      [flags]="flags"
      [numbering]="true"
      [toolbar]="true"
      [allowUserFlags]="true"
      (selectedIdsChange)="onIdsChange($event)"
      (flagsChange)="onFlagsChange($event)"
    >
    </cadmus-ui-flags-picker>
    <hr />
    <h3>IDs</h3>
    <div *ngIf="ids">
      <pre>{{ ids | json }}</pre>
    </div>
    <h3>Flags</h3>
    <ol>
      <li *ngFor="let f of flags">{{ f.id }}={{ f.label }}</li>
    </ol>
    <hr />
    <button type="button" mat-flat-button (click)="setRandomId()">
      set random ID
    </button>
  </mat-card-content>
</mat-card>
