<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      <h2>Historical Date</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <cadmus-refs-historical-date
      [date]="date"
      (dateChange)="onDateChange($event)"
    ></cadmus-refs-historical-date>
    <div *ngIf="date">
      <pre>{{ date | json }}</pre>
    </div>
    <h3>Pipes</h3>
    <ul>
      <li>{{ date | historicalDate }}</li>
      <li>{{ date | historicalDate: "value" }}</li>
    </ul>
  </mat-card-content>
</mat-card>
