<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      <h2>Image Annotator</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div id="container">
      <div id="image">
        <!-- <div>
          <mat-checkbox [formControl]="headless">headless</mat-checkbox>
        </div> -->
        <div id="toolbar">
          <cadmus-img-annotator-toolbar
            (toolChange)="onToolChange($event)"
          ></cadmus-img-annotator-toolbar>
        </div>
        <div>
          <img
            alt="image"
            cadmusImgAnnotator
            (createAnnotation)="onCreateAnnotation($event)"
            (updateAnnotation)="onUpdateAnnotation($event)"
            (deleteAnnotation)="onDeleteAnnotation($event)"
            (createSelection)="onCreateSelection($event)"
            (selectAnnotation)="onSelectAnnotation($event)"
            (cancelSelected)="onCancelSelected($event)"
            (annotatorInit)="onAnnotatorInit($event)"
            [disableEditor]="headless.value"
            [tool]="tool"
            [additionalTools]="['circle', 'ellipse', 'freehand']"
            src="assets/sample.jpg"
          />
        </div>
      </div>
      <div id="list">
        <app-my-img-annotation-list
          [image]="image"
          [annotator]="annotator"
          [editorComponent]="editor"
          (listInit)="onListInit($event)"
        ></app-my-img-annotation-list>
      </div>
    </div>
  </mat-card-content>
</mat-card>
