<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      <h2>Physical Size</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <cadmus-mat-physical-size
      [unitEntries]="unitEntries"
      [hBeforeW]="hBeforeW.value"
      [size]="size"
      (sizeChange)="onSizeChange($event)"
    >
    </cadmus-mat-physical-size>
    <div *ngIf="size">
      <pre>{{ size | json }}</pre>
    </div>
    <div>
      {{ size | physicalSize:hBeforeW.value }}
    </div>
    <hr>
    <div>
      <mat-checkbox [formControl]="hBeforeW">H before W</mat-checkbox>
    </div>
  </mat-card-content>
</mat-card>
