<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>Manuscript Location</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <form [formGroup]="form">
        <mat-checkbox [formControl]="single">single</mat-checkbox>
        &nbsp;
        <mat-checkbox [formControl]="required">required</mat-checkbox>
      </form>
    </div>
    <cadmus-cod-location
      [single]="single?.value"
      [required]="required?.value"
      [location]="ranges"
      (locationChange)="onRangesChange($event)"
    ></cadmus-cod-location>
    <div *ngIf="ranges">
      <pre>{{ ranges | json }}</pre>
    </div>
  </mat-card-content>
</mat-card>
