<mat-tab-group [(selectedIndex)]="tabIndex">
  <mat-tab label="Annotator">
    <div id="container">
      <div id="image" *ngIf="image">
        <div>
          <cadmus-img-annotator-toolbar
            (toolChange)="onToolChange($event)"
          ></cadmus-img-annotator-toolbar>
        </div>
        <div>
          <img
            alt="image"
            cadmusImgAnnotator
            (createAnnotation)="onCreateAnnotation($event)"
            (updateAnnotation)="onUpdateAnnotation($event)"
            (deleteAnnotation)="onDeleteAnnotation($event)"
            (createSelection)="onCreateSelection($event)"
            (selectAnnotation)="onSelectAnnotation($event)"
            (cancelSelected)="onCancelSelected($event)"
            (annotatorInit)="onAnnotatorInit($event)"
            [disableEditor]="true"
            [tool]="tool"
            [additionalTools]="['circle', 'ellipse', 'freehand']"
            [src]="image!.uri"
          />
        </div>
      </div>
      <div id="list">
        <app-my-img-annotation-list
          [image]="image!"
          [annotator]="annotator"
          [editorComponent]="editorComponent"
          (listInit)="onListInit($event)"
        ></app-my-img-annotation-list>

        <div id="dump">
          <form [formGroup]="form" (submit)="setAnnotations()">
            <mat-form-field style="width: 100%">
              <textarea matInput rows="10" [formControl]="json"></textarea>
            </mat-form-field>
            <div class="form-row">
              <mat-checkbox [formControl]="frozen">frozen</mat-checkbox>
              <button
                mat-flat-button
                type="submit"
                color="warn"
                matTooltip="Set annotations from JSON"
              >
                <mat-icon>check_circle</mat-icon> set
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Gallery">
    <cadmus-gallery-list
      [entries]="entries"
      (imagePick)="onImagePick($event)"
    ></cadmus-gallery-list>
  </mat-tab>
</mat-tab-group>
