div#container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto minmax(0, 1fr);
  grid-template-areas: "image list";
  gap: 8px;
}
div#image {
  grid-area: image;
}
div#list {
  grid-area: list;
}
div#dump {
  margin-top: 8px;
  width: 100%;
}
.form-row {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
}
.form-row * {
  flex: 0 0 auto;
}
@media only screen and (max-width: 959px) {
  div#container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "image"
      "list";
  }
}
