<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      <h2>Reference Lookup</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <cadmus-ref-lookup
      [baseFilter]="baseFilter"
      [service]="service"
      [item]="item"
      [required]="true"
      [hasMore]="true"
      [optDialog]="optDialog"
      [options]="options"
      linkTemplate="http://www.colors.org/web-{name}.html"
      label="color"
      (itemChange)="onItemChange($event)"
      (moreRequest)="onMoreRequest()"
    ></cadmus-ref-lookup>
    <div *ngIf="item">
      <pre>{{ item | json }}</pre>
    </div>
    <div style="margin-top: 8px;">
      <button type="button" mat-flat-button (click)="onSetValue()">set random value</button>
    </div>
  </mat-card-content>
</mat-card>
