<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      <h2>Image Gallery</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group [(selectedIndex)]="tabIndex">
      <mat-tab label="gallery">
        <cadmus-gallery-list
          [entries]="entries"
          (imagePick)="onImagePick($event)"
        ></cadmus-gallery-list>
      </mat-tab>
      <mat-tab label="annotator">
        <cadmus-gallery-img-annotator
          [image]="image"
        ></cadmus-gallery-img-annotator>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
