<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      <h2>DBPedia Reference Lookup</h2>
    </mat-card-title>
  </mat-card-header>
  <p style="margin: 0 16px">
    Note that due to DBPedia not supporting CORS, this page requires a
    <a href="https://github.com/vedph/proxy-api" target="_blank" rel="noopener"
      >proxy</a
    >, which is not setup in the demo website.
  </p>
  <mat-card-content>
    <cadmus-ref-lookup
      [service]="service"
      [required]="true"
      label="DBPedia"
      (itemChange)="onItemChange($event)"
    ></cadmus-ref-lookup>
    @if (docs) {
    <div>
      <pre>{{ docs | json }}</pre>
    </div>
    }
  </mat-card-content>
</mat-card>
