<fieldset>
  <legend>annotation</legend>
  <form [formGroup]="form" (submit)="save()">
    <!-- text -->
    <mat-form-field>
      <mat-label>text</mat-label>
      <textarea
        #txt
        matInput
        [formControl]="text"
        rows="3"
        (keyup.control.enter)="save()"
      ></textarea>
      <mat-hint>ctrl+Enter = save</mat-hint>
      <mat-error
        *ngIf="$any(text).errors?.required && (text.dirty || text.touched)"
        >text required</mat-error
      >
      <mat-error
        *ngIf="$any(text).errors?.maxLength && (text.dirty || text.touched)"
        >text too long</mat-error
      >
    </mat-form-field>
    <div class="center-content">
      <button type="button" mat-icon-button (click)="close()" color="warn">
        <mat-icon>cancel</mat-icon>
      </button>
      <button
        type="submit"
        mat-icon-button
        color="primary"
        [disabled]="form.pristine || form.invalid"
      >
        <mat-icon>check_circle</mat-icon>
      </button>
    </div>
  </form>
</fieldset>
