<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      <h2>Seadragon Image Annotator</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div id="toolbar">
      <mat-button-toggle-group #group="matButtonToggleGroup" value="rect">
        <mat-button-toggle value="rect" matTooltip="Rectangle">
          <mat-icon>rectangle</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="polygon" matTooltip="Polygon">
          <mat-icon>polyline</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div>
      <div
        cadmusSdImgAnnotator
        (createAnnotation)="onCreateAnnotation($event)"
        (updateAnnotation)="onUpdateAnnotation($event)"
        (deleteAnnotation)="onDeleteAnnotation($event)"
        [tool]="group.value"
        source="/assets/sample.jpg"
      ></div>
    </div>
    <div>
      <pre>{{ message }}</pre>
    </div>
    <p>Use shift with mouse to add an annotation.</p>
  </mat-card-content>
</mat-card>
