<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      <h2>Emoji IME</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="form-row">
      <mat-form-field>
        <input matInput placeholder="name" [formControl]="name" />
      </mat-form-field>
      <button type="button" mat-flat-button color="primary" (click)="openIme()">
        open IME
      </button>
    </div>
    @if (emoji) {
    <figure>
      <img alt="{{ emoji.name }}" [src]="emoji.url" />
      <legend>{{ emoji.name }} {{ text }}</legend>
    </figure>
    }
  </mat-card-content>
</mat-card>
