<div>
  <header>
    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="start center">
      <span style="flex: 0 0 60px"
        ><img src="./assets/img/logo-white-40.png" alt="Fusisoft"
      /></span>
      <a mat-button routerLink="/home">Cadmus Bricks</a>

      <!-- refs -->
      <button mat-button [matMenuTriggerFor]="refsMenu">Refs</button>
      <mat-menu #refsMenu>
        <a mat-menu-item routerLink="/refs/doc-references">Doc references</a>
        <a mat-menu-item routerLink="/refs/external-ids">External IDs</a>
        <a mat-menu-item routerLink="/refs/decorated-ids">Decorated IDs</a>
        <a mat-menu-item routerLink="/refs/proper-name">Proper name</a>
        <a mat-menu-item routerLink="/refs/assertion">Assertion</a>
        <a mat-menu-item routerLink="/refs/asserted-id">Asserted ID</a>
        <a mat-menu-item routerLink="/refs/chronotope">Chronotope</a>
        <a mat-menu-item routerLink="/refs/historical-date">Historical date</a>
        <a mat-menu-item routerLink="/refs/lookup">Ref lookup</a>
        <a mat-menu-item routerLink="/refs/viaf-lookup">VIAF lookup</a>
      </mat-menu>

      <!-- text -->
      <button mat-button [matMenuTriggerFor]="textMenu">Text</button>
      <mat-menu #textMenu>
        <a mat-menu-item routerLink="/text/text-block-view">Text blocks view</a>
      </mat-menu>

      <!-- ui -->
      <button mat-button [matMenuTriggerFor]="uiMenu">UI</button>
      <mat-menu #uiMenu>
        <a mat-menu-item routerLink="/ui/flags-picker">Flags picker</a>
      </mat-menu>
    </mat-toolbar>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <div class="footer-container">
      <div class="info">
        Cadmus by
        <a href="https://www.fusisoft.net" target="_blank">Daniele Fusi</a> at
        <a href="https://www.unive.it/pag/39287" target="_blank">VeDPH</a>
      </div>
    </div>
  </footer>
</div>
