<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      <h2>Asserted Chronotope</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <cadmus-refs-asserted-chronotope
      [chronotope]="chronotope"
      (chronotopeChange)="onChronotopeChange($event)"
    ></cadmus-refs-asserted-chronotope>
    <div *ngIf="chronotope">
      <pre>{{ chronotope | json }}</pre>
      <p>{{ chronotope | assertedChronotopes }}</p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="warn" (click)="reset()">reset</button>
  </mat-card-actions>
</mat-card>
