<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Cadmus Bricks</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      This is the incubator shell for sub-model editors in Cadmus. Pick editors
      from the top menus and play with them.
    </p>
    <p>
      You can find the repository at
      <a href="https://github.com/vedph/cadmus-bricks-shell" target="_blank"
        >github.com/vedph/cadmus-bricks-shell</a
      >.
    </p>
  </mat-card-content>
</mat-card>
